      <h3>
        {{id}}. {{name}}
        <small>
          <button (click)="toggleUser()"  class="btn btn-dark">
            <i [ngClass]="!hide ?'fa fa-plus' : 'fa fa-minus' "></i></button
        ></small>
      </h3>
      <ul class="list-group" *ngIf="hide">
        <li class="list-group-item">Username: {{username}}</li>
        <li class="list-group-item">Email: {{email}}</li>
        <li class="list-group-item" >Joined: {{registered | date}} </li>
        <li class="list-group-item" >
          <div class="d-flex flex-row">
            <div class="p-2">
              <button class="btn btn-danger btn-block"><i class="fas fa-user-minus"></i></button>
            </div>
            <div class="p-2">
              <button class="btn btn-warning btn-block"><i class="fas fa-user-edit"></i></button>
            </div>
          </div>
        </li>
      </ul>
