<div class="d-grid gap-3">
  <div class="p-3">
    <button (click)="showUsersList = !showUsersList" class="btn btn-primary btn-block" type="button">
      Show user's list
    </button>
  </div>
  <app-add-user (add)="addUser($event)"></app-add-user>
</div>

<div class="p-3" *ngIf="showUsersList">
  <ul class="list-unstyled" *ngIf="users.length > 0 else noUsers">
    <li class="card card-board mb-2" *ngFor="let user of users">
      <app-user
        [id] = "user.id"
        [name] = "user.name"
        [username] = "user.username"
        [email] = "user.email"
        [hide] = "user.hide"
        (toggle) = "toggleHide(user)"
      >
      </app-user>
    </li>
  </ul>
</div>



<ng-template #noUsers>
  <h4>No users found</h4>
</ng-template>
